*{margin: 0; padding: 0; box-sizing: border-box;}

button{
  box-shadow:  0 0 10px black;
  cursor: pointer;
}

body{
  min-height: 100vh;
  min-height: 100svh;
  background-color: rgb(54, 54, 54);
}

.to-do-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.to-do-input-box{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 90%;

  padding-top: 10px;
  padding-bottom: 10px;
}

.to-do-input-box input{
  flex: 2;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: gray;
  cursor: pointer;
}



.to-do-input-box input::placeholder{color: white;}

.to-do-input-box button{
  flex: 1;
  padding: 10px;
  font-size: 30px;
  border: none;

  border-radius: 15px;
}

.to-do-input-box button:first-of-type{
  background-color: lightgreen;
  color: white;
}

.delete-box{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 90%;
}

.delete-box button{
  flex: 1;
  border: none;
  border-radius: 15px;
}

.delete-box button:first-of-type{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;

  background-color: red;
  border: none;
  border-radius: 10px;
  color: white;

}

.delete-box button:last-of-type{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;

  background-color: rgb(153, 16, 16);
  border: none;
  border-radius: 10px;
  color: white;

}

.to-display-list-box{
  padding: 20px;
  width: 90%;
  height: 75dvh;

  overflow: auto;

  border: 5px solid wheat;
  border-radius: 15px;

}

.to-display-list-box ul{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.to-display-list-box li{
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 5px;
  list-style: none;
  font-size: 20px;
  color: white;
}

.to-display-list-box span{
  flex: 5;
  word-break: inherit;

  font-weight: bold;
  font-size: 30px;

  padding: 10px;

}

.to-display-list-box button{
  flex: 2;

  padding: 10px;
  border: none;

  border-radius: 5px;
  background-color: rgb(211, 13, 13);
  color: white;

  font-variant-numeric: tabular-nums;


}

.check-btn{
  background-color: lightgreen;
}


